html {
  border-left-style: solid;
  border-left-color: #ffffff;
  border-left-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-right-width: 2px;
  width: 525px;
}

body {
  width: 100%;
  background-color: #000000;
  font-size: 16px;
}

.text {
  color: #6FC3DF;
}

.textTitle {
  color: #FFE64D;
  cursor: default;
  font-size: 24px;
  text-align: center;
  width: 100%;
}

.codeOut {
  color: #FF4D4D;
  word-wrap: break-word;
  font-family: monospace;
  border-color: #E6FFFF;
  border-style: solid;
  border-radius: 3px;
  border-width: 1px;
  padding: 3px;
  margin-left: 5%;
  width: 80%;
}

.inputElement {
  background-color: #0C141F;
  margin-left: 5%;
  color: #DF740C;
  border-color: #E6FFFF;
  border-style: solid;
  border-radius: 3px;
  border-width: 1px;
  font-size: 24px;
}

.inputElement:focus {
  color: #FFE64D !important;
  border-width: 3px !important;
}

.inputElement[type=text] {
  width: 80%;
  padding: 3px;
}

hr {
  color: #E6FFFF;
}

.cellRow {
  padding-top: 10px;
  padding-bottom: 10px;
}

a {
  margin-left: 5%;
  color: #DF740C;
  font-size: 24px;
}

button {
  width: 125px;
  background-color: #0C141F;
  border-color: #E6FFFF;
  border-style: solid;
  border-radius: 3px;
  border-width: 1px;
  font-size: 16px;
  color: #6FC3DF;
  padding: 5px;
  margin: 5px;
  margin: 10px;
  margin-left: 5%;
}

button :focus :active :click {
  background-color: #0C141F;
  color: #DF740C;
}

button:hover {
  background-color: #3C444F;
  color: #51CB51;
}

.errorFont {
  color: #DF740C;
}

.rightPadding {
  padding-right: 5%;
}

.controlButtons {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

input[type=text] {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  border: 1px solid #DDDDDD;
}

inputElement:focus, .inputElement:hover {
  box-shadow: 0 0 5px #51cbee;
  border: 1px solid #51cbee;
  background-color: #2C343F;
}

.readOnly:hover {
  box-shadow: 0 0 5px #51CB51;
  border: 1px solid #51CB51;
}


.readOnly {
  background-color: #0C141F;
  margin-left: 5%;
  color: #DF740C;
  border-color: #51CB51;
  border-style: solid;
  border-radius: 3px;
  border-width: 1px;
  font-size: 24px;
}
